language: node_js
node_js:
  - "8"
sudo: required
services:
  - docker
deploy:
  provider: elasticbeanstalk
  access_key_id: $ACCESSKEYID
  secret_access_key:
  secure: "$SECRETACCESSKEY"
  region: "eu-west-3"
  app: "aws"
  env: "aws-dev"
  bucket_name: "elasticbeanstalk-eu-west-3-288221714363"
  on:
  branch: master
after_deploy:
  - echo "done deploying"
